<h2 class="titular-section">Proyectos más recientes</h2>
<div class="proyectos-cont section contenedor">
    <div class="columns">
        <div class="column">
            <div class="proyectos-columna" [ngStyle]="{'background-image': 'url('+proyecto.img+')'}">
                <div class="proyectos-texto-cont">
                    <div class="proyectos-texto">
                        <p class="proyectos-texto-titulo">Lorem ipsum dolor</p>
                        <p class="proyectos-texto-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <a href="#" class="ver-mas">Ver mas ></a>
        </div>
        <div class="column">
            <div class="proyectos-columna" [ngStyle]="{'background-image': 'url('+proyecto.img+')'}">
                <div class="proyectos-texto-cont">
                    <div class="proyectos-texto">
                        <p class="proyectos-texto-titulo">Lorem ipsum dolor</p>
                        <p class="proyectos-texto-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <a href="#" class="ver-mas">Ver mas ></a>
        </div>
        <div class="column">
            <div class="proyectos-columna" [ngStyle]="{'background-image': 'url('+proyecto.img+')'}">
                <div class="proyectos-texto-cont">
                    <div class="proyectos-texto">
                        <p class="proyectos-texto-titulo">Lorem ipsum dolor</p>
                        <p class="proyectos-texto-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <a href="#" class="ver-mas">Ver mas ></a>
        </div>
    </div>
</div>