<h2 class="titular-section">Proyectos más recientes</h2>
<div class="proyectos-cont section contenedor">
    <div class="columns">
        <div class="column" *ngFor="let proyecto of proyectos">
            <div class="proyectos-columna" [ngStyle]="{'background-image': 'url('+proyecto.fields.bannerProyecto.fields.file.url+')'}">
                <div class="proyectos-texto-cont">
                    <div class="proyectos-texto">
                        <p class="proyectos-texto-titulo">{{ proyecto.fields.tituloDeProyecto }}</p>
                        <p class="proyectos-texto-desc">{{ proyecto.fields.descripcinDelProyecto.content[0].content[0].value }}</p>
                    </div>
                </div>
            </div>
            <p class="ver-mas" (click)="getToDetail(proyecto.sys.id)">Ver mas ></p>
        </div>
    </div>
</div>