<div class="footer-cont section">
    <div class="columns">
        <div class="column footer-contacto">
            <div class="footer-seccion-titulo">
                <p>Ubicación</p>
                <div class="footer-titulo-underline"></div>
            </div>
            <div class="footer-cuerpo">
                <p>Av Independencia 401, El Plateado, 20137 Aguascalientes, Ags.</p>
            </div>
        </div>
        <div class="column footer-llamanos">
            <div class="footer-seccion-titulo">
                <p>Contacto</p>
                <div class="footer-titulo-underline"></div>
            </div>
            <div class="footer-cuerpo">
                <p>449-153-34-95</p>
                <p>449-996-90-73</p>
                <p><a href="mailto:plasma.digital@hotmail.com">plasma.digital@hotmail.com</a></p>
            </div>
        </div>
    </div>
</div>