.navbar{
    background-color: black;
    .navbar-item{
        color: white;
        &:hover{
            background-color: inherit;
            color: grey;
        }
    }
    .navbar-burger{
        span{
            background-color: white;
        }
        &.is-large{
            span{
                width: 25px;
                left: calc(50% - 20px);
                height: 3px;
                &:nth-child(2){
                    top: calc(50% + 2px);
                }
                &:nth-child(3){
                    top: calc(50% + 10px);
                }
            }
        }
    }
    #desktop-menu{
        margin-left: 50px;
        text-align: center;
        .navbar-start{
            margin: 0 auto;
            .navbar-item{
                font-size: 2rem;
                margin: 0 20px;
            }
        }
        .navbar-end{
            width: 100px;
        }
    }
}