.form-field-contacto{
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    input{
        border-radius: 0;
    }
    .field-body{
        margin-bottom: 0.75rem;
    }
    .contacto-enviar{
        font-size: 1.4rem;
        border-radius: 0;
        background-color: #e44c1d;
        border: none;
        color: white;
    }
}