.servicios-cont{
    color: white;
    .servicio-card{
        background-color: #151515;
        padding: 15px 15px 30px;
        height: 100%;
        .servicios-img{
            max-width: 70px;
            margin: 10px auto 30px;
            display: block;
        }
        .servicio-titulo-card{
            font-size: 1.5rem;
            margin: 0 30px 15px;
        }
        .servicio-texto-card{
            font-size: 1.2rem;
            p{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}