<h2 class="titular-section">SERVICIOS</h2>
<div class="section">
    <div class="columns is-multiline is-centered servicios-cont">
        <div class="column is-one-quarter">
            <div class="servicio-card has-text-centered">
                <img src="assets/img/icon.png" class="servicios-img" alt="">
                <p class="servicio-titulo-card has-text-weight-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="servicio-texto-card">
                    <p>consectetur adipiscing elit. Sed sagittis purus lectus, non malesuada ante suscipit non. Curabitur eget ex odio. Nulla vitae magna vitae quam volutpat pellentesque.</p>    
                    <p>In hac habitasse platea dictumst. Pellentesque imperdiet egestas erat et euismod. Vivamus ut nunc vel felis luctus hendrerit. Fusce elit mi, iaculis et augue sed, tincidunt pulvinar mi. Ut pretium accumsan erat, vitae luctus orci dignissim a. Vestibulum interdum venenatis varius.</p>
                </div>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="servicio-card has-text-centered">
                <img src="assets/img/icon.png" class="servicios-img" alt="">
                <p class="servicio-titulo-card has-text-weight-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="servicio-texto-card">
                    <p>consectetur adipiscing elit. Sed sagittis purus lectus, non malesuada ante suscipit non. Curabitur eget ex odio. Nulla vitae magna vitae quam volutpat pellentesque.</p>    
                    <p>In hac habitasse platea dictumst. Pellentesque imperdiet egestas erat et euismod. Vivamus ut nunc vel felis luctus hendrerit. Fusce elit mi, iaculis et augue sed, tincidunt pulvinar mi. Ut pretium accumsan erat, vitae luctus orci dignissim a. Vestibulum interdum venenatis varius.</p>
                </div>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="servicio-card has-text-centered">
                <img src="assets/img/icon.png" class="servicios-img" alt="">
                <p class="servicio-titulo-card has-text-weight-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="servicio-texto-card">
                    <p>consectetur adipiscing elit. Sed sagittis purus lectus, non malesuada ante suscipit non. Curabitur eget ex odio. Nulla vitae magna vitae quam volutpat pellentesque.</p>    
                    <p>In hac habitasse platea dictumst. Pellentesque imperdiet egestas erat et euismod. Vivamus ut nunc vel felis luctus hendrerit. Fusce elit mi, iaculis et augue sed, tincidunt pulvinar mi. Ut pretium accumsan erat, vitae luctus orci dignissim a. Vestibulum interdum venenatis varius.</p>
                </div>
            </div>
        </div>
    </div>
</div>