<h2 class="titular-section" id="servicios">SERVICIOS</h2>
<div class="section  servicios-cont contenedor">
    <div class="columns is-multiline is-centered">
        <div class="column" *ngFor="let servicio of servicios">
            <div class="servicio-card has-text-centered">
                <img [src]="servicio.fields.iconoServicio.fields.file.url" class="servicios-img" alt="">
                <p class="servicio-titulo-card has-text-weight-bold">{{ servicio.fields.tituloServicio }}</p>
                <div class="servicio-texto-card" [innerHTML]="servicio.fields.textoServicio | mdToHtml"></div>
            </div>
        </div>
    </div>
</div>