<h2 class="titular-section" id="nosotros">¿Por qué PLASMA?</h2>
<div class="nosotros-cont section contenedor">
    <div class="columns is-multiline is-centered">
        <div class="column is-half">
            <div class="section">
                <div class="columns is-mobile">
                    <div class="column is-2">
                        <div class="nosotros-circulo morado"></div>
                    </div>
                    <div class="column">
                        <p class="nosotros-titulo">Inovación</p>
                        <p class="nosotros-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae egestas justo. Suspendisse orci risus, egestas vitae aliquet ac, cursus nec libero.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="section">
                <div class="columns is-mobile">
                    <div class="column is-2">
                        <div class="nosotros-circulo amarillo"></div>
                    </div>
                    <div class="column">
                        <p class="nosotros-titulo">Tecnología</p>
                        <p class="nosotros-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae egestas justo. Suspendisse orci risus, egestas vitae aliquet ac, cursus nec libero.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="section">
                <div class="columns is-mobile">
                    <div class="column is-2">
                        <div class="nosotros-circulo azul"></div>
                    </div>
                    <div class="column">
                        <p class="nosotros-titulo">Organización y calidad</p>
                        <p class="nosotros-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae egestas justo. Suspendisse orci risus, egestas vitae aliquet ac, cursus nec libero.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="section">
                <div class="columns is-mobile">
                    <div class="column is-2">
                        <div class="nosotros-circulo verde"></div>
                    </div>
                    <div class="column">
                        <p class="nosotros-titulo">Servicios al cliente</p>
                        <p class="nosotros-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae egestas justo. Suspendisse orci risus, egestas vitae aliquet ac, cursus nec libero.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mapa">
    <div class="mapa-color">
        <div class="section contenedor">
            <div class="columns is-centered is-mobile">
                <div class="column">
                    <div class="mapa-numero">2387</div>
                    <div class="mapa-numero-underline"></div>
                    <div class="mapa-texto">Proyectos terminados</div>
                </div>
                <div class="column">
                    <div class="mapa-numero">765</div>
                    <div class="mapa-numero-underline"></div>
                    <div class="mapa-texto">Proyectos terminados</div>
                </div>
                <div class="column">
                    <div class="mapa-numero">1234</div>
                    <div class="mapa-numero-underline"></div>
                    <div class="mapa-texto">Proyectos terminados</div>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2524.7170937908527!2d-102.29668903417804!3d21.905965766227926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcee12cfd94795cab!2sPlasma%20Digital%20Advertising%20Visual!5e0!3m2!1sen!2smx!4v1592663931873!5m2!1sen!2smx" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>