<nav class="navbar" role="navigation" aria-label="main navigarion">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="assets/img/logo.jpg" alt="Plasma Digital" style="max-height: none;" width="76" height="76">
            </a>
            
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
        </div>
    </div>
</nav>