$colors: #d71659, #903886, #484c96, #3e9dcd, #068e80, #86b430, #edd920, #f4c209, #dd4b1a, #cb181c;
.cintillo{
    .columns{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    margin: 35px 0 30px;
    .color-cintillo{
        height: 5px;
        padding: 0;
        @for $i from 1 through length($colors) {
            &:nth-child(#{length($colors)}n+#{$i}) {
                background: nth($colors, $i)
            }
        }
    }
}