<div class="cintillo section">
    <div class="columns">
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
        <div class="color-cintillo column"></div>
    </div>
</div>
