<h2 class="titular-section" id="blog">Blog</h2>
<div class="blog-cont contenedor section">
    <div class="columns">
        <div class="column" *ngFor="let blogPost of blogPosts">
            <div class="blog-home-cont" [ngStyle]="{'background-image': 'url('+blogPost.fields.imgBlog.fields.file.url+')'}">
                <p>{{ blogPost.fields.tituloPost }}</p>
                <div class="blog-screen"></div>
            </div>
            <p class="ver-mas" (click)="getToDetail(blogPost.sys.id)">Ver mas ></p>
        </div>
    </div>
</div>